/* Menu First Mobile*/

.header {
	width: 100%;
	position: absolute;
	top: 25px;
}

.menu-container {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	z-index: 5000;
	/* para que combine con el logo */
	background-color: hsl(0, 0%, 100%);
}

.menu {
	position: absolute;
	width: 90vw;
	height: 100px;
	max-width: 1300px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	/* para efecto sticky */

	.menu--modal {
		padding: 0;
		border: 0;
	

	}

	
	.menu--modal::backdrop {
		background-color: hsla(0, 0%, 5%,0.6);
	}
}


.logo {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	width: 188px;
	height: 100px;
	text-decoration: none;
	color: var(--black);
}

.logo--img {
	width: 100%;
	height: 100%;
}

.logo--title {
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
	text-align: center;
	font-size: var(--letterSizeSmall);
}

.menu-active,
.menu-active::after,
.menu-desactive,
.menu-desactive::before,
.menu-desactive::after {
	display: inline-block;
	height: 3px;
	width: 27px;
	cursor: pointer;
	position: absolute;
	z-index: 100;
}

.menu-active {
	height: 20px;

	overflow: hidden;
}

.menu-active::after {
	content: '';
	border-radius: 1px;
	background-color: var(--colorPrimario);
	box-shadow: -5px 6.5px var(--colorPrimario), -10px 13px var(--colorSecundario);
}

.nav {
	height: 100vh;
	width: 60vw;
	background-color: var(--white);
	position: fixed;
	top: 0;
right: 0%;
	overflow-y: scroll;
	transition: transform 0.4s ease;
	box-shadow: var(--shadowGeneral);
	z-index: 1400;
	view-transition-name: menu;
}


::view-transition-old(menu){
 
	animation: transMenu 0.3s ease reverse;
  }

::view-transition-new(menu){
 
	animation: transMenu 0.3s ease ;
  }

  @keyframes transMenu{

	from {
		transform: translateX(120%);
	}

	to {
	transform: translateX(0%);
}


  }




/* menu-desactive va ubicado en otro contenedor*/
.menu-desactive {
	height: 20px;
	top: 50px;
	left: 86%;
}

.menu-desactive::after,
.menu-desactive::before {
	content: '';
	border-radius: 1px;
	background-color: var(--colorPrimario);
	top: 7px;
	transform: rotate(0.375turn);
}

.menu-desactive::before {
	transform: rotate(0.125turn);
}

/* Elementos Menu - mismo bloque menu */

.list {
	position: absolute;
	top: 80px;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;

	width: 100%;
}

.list--item {
	height: 80px;

	display: flex;

	align-items: center;
}

.list--item > a {
	text-decoration: none;
	font-size: var(--letterSizeSmall);
	margin-left: 15px;
	color: var(--black);
	border-bottom: 3px solid var(--colorSecundario);
}


/* Bottom de donar */

.donate-buttom {
	position: absolute;
	top: 103%;
	left: 2.5%;
	width: 100px;
	height: 50px;

	justify-content: center;
}

.donate-buttom a {
	border-bottom: none;
	padding-left: 0;
	padding-bottom: 0;
	margin-left: 0;
	/* ^ elemetos heredados de los otros item de la lista */
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(var(--letterSizeMedium) / 1.1);
	border-radius: 10px;
	width: 90px;
	height: 45px;
	background-color: var(--colorPrimario);
}

/* Idioma menu */

.list--item:last-child {
	position: absolute;
	top: 105%;
	right: 5%;
	display: inline-block;
	font-size: var(--letterSizeSmall);
	width: 90px;
}

.lang {
	display: none;
}

.lang--selector {
	width: 100%;
	height: 90px;
	position: relative;
	top: -50%;
}

.lang--list {
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	display: inline-block;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
	cursor: pointer;
	transition: top 0.4s ease;
}

.lang--list-item {
	padding-top: 5px;
	padding-bottom: 5px;
	/* pero que el contenedor tenga altura automatica */
	border: 2px solid var(--colorPrimario);
	border-radius: 5px;
	background-color: var(--white);

	display: flex;

	justify-content: flex-end;
}

.lang--list-item:first-child {
	margin-bottom: 7.5px;
	margin-top: 15px;
	/* para el espacio entre bloques */
}

.lang--list-item > span {
	text-decoration: none;
	color: var(--black);

	position: absolute;
	left: 2.5px;
}

.lang--list-item > img {
	width: 20px;
	height: 20px;
	margin-right: 2.5px;
}

@media (min-width: 600px) {
	.nav {
		width: 50vw;
	}
}

@media (min-width: 800px) {
	.nav {
		width: 40vw;
	}
}

@media (min-width: 1000px) {
	.nav {
		width: 25vw;
	}
}

@media (min-width: 1300px) {
	.menu-active,
	.menu-desactive {
		display: none;
	}

	.nav {
		height: 100px;
		width: 70%;
		box-shadow: none;
		background-color: transparent;
		position: absolute;
		overflow: initial;
		/* producto del desplzamiento del formato mobile */

		transform: translateX(0%);
		transition: none;
		right: 125px;
	}

	.list {
		top: 0;
		height: 100%;
		width: 80%;
		display: flex;

		justify-content: space-evenly;
	}

	.list--item {
		height: 100%;
		width: 150px;
		border-bottom: none;
		justify-content: center;
	}

	.list--item > a {
	

		width: auto;
		margin-left: 0px;
		height: 22px;
		
		border-bottom: 0px solid var(--colorSecundario);
		transition: border 0.1s ease;
	}

	.list--item > a:hover,	.listItem__select > a {
		border-bottom: 3px solid var(--colorSecundario);
	}


	/* Donar */
	.donate-buttom {
		position: absolute;
		left: 102.5%;
		top: 25%;
		width: 100px;
		height: 50px;
		justify-content: center;
	}

	.donate-buttom a {
		border-radius: 10px;
		width: 90px;
		height: 45px;

		transition: all 0.2s ease;
	}

	.donate-buttom a:hover {
		width: 100px;
		height: 50px;
		font-size: var(--letterSizeMedium);
		background-color: var(--colorSecundario);
		border-bottom: none;
	}

	/* Idioma menu */

	.list--item:last-child {
		right: -250px;
		top: 50%;
	}

	.lang {
		display: flex;
		justify-content: center;
		width: 100%;
		padding-bottom: 2.5px;
		border-bottom: 3px solid var(--colorSecundario);
	}

	.lang > em {
		font-style: normal;

		text-align: center;
		cursor: pointer;
	}

	.lang--selector {
		overflow: hidden;
		top: 0;
	}

	.lang--list {
		top: -105%;
	}

	.lang__hover:hover + .lang--selector > .lang--list,
	.lang--list:hover {
		top: -5%;
	}
}
