---
import MenuSelect from "../enums";
import BannerPages from "../components/BannerPages.astro";
import Layout from "../layouts/Layout.astro";
import Mi_Vision from "../components/about/Mi_Vision";
---

<Layout menuSelect={MenuSelect.aboutUs} title="About us">
  <BannerPages
    wave="/img/svg/conocenos/wave_conocenos.svg"
    upperTitle="ABOUT US"
  />

  <div class="first-container">
    <section class="aboutUs">
      <h3 class="aboutUs--title">
        What does The Dominican American Coalition of Connecticut do?
      </h3>
      <p class="aboutUs--paragraph">
        Through the execution of human development programs, The
        Dominican-American Coalition of Connecticut works for the benefit of the
        inhabitants of the State of Connecticut by applying models of social
        intervention that seeks the transformation of people, applying the
        “valor-arte” method, which means give “VALUE” to people through the
        “ARTS”.
      </p>
      <p class="aboutUs--paragraph">
        In virtue of the above, it develops its social work through the arts
        focused on education, history, culture, social welfare,
        entrepreneurship, and productivity. The work is done hand-in-hand with
        other social organizations and private enterprise.
      </p>
    </section>
    <section class="objects">
      <h3 class="objects--title">
        What is the specific objective of the organization?
      </h3>
      <p class="objetcs--paragraph">
        To work on issues that affect the development of Connecticut residents
        without discrimination in the areas of education and at the same time in
        activities that promote the cultural roots, diversity, and history of
        the communities.
      </p>
    </section>
  </div>
  <hr />
  <!-- Mision and vision -->
  <Mi_Vision client:visible />

  <hr />
  <!-- cards del Team -->
  <section class="team">
    <h3 class="team--title">About us</h3>

    <ul class="team-list">
      <li class="team-list--item">
        <article class="team-article">
          <picture class="team-article--picture">
            <img
              loading="lazy"
              decoding="async"
              class="team-article--img"
              src="/img/webp/team-example.webp"
              alt="team work"
            />
          </picture>
          <h4 class="team-article--title">Ramona Santelises</h4>
          <p class="team-article--paragraph">
            <em>President</em>
          </p>
          <p class="team-article--mail">rsantelises@dacct.org</p>
        </article>
      </li>
      <li class="team-list--item">
        <article class="team-article">
          <picture class="team-article--picture">
            <img
              loading="lazy"
              decoding="async"
              class="team-article--img"
              src="/img/webp/team-example.webp"
              alt="team work"
            />
          </picture>
          <h4 class="team-article--title">Jonatan Soto</h4>
          <p class="team-article--paragraph">
            <em>Member of the board</em>
          </p>
          <p class="team-article--mail">jonatansoto@dacct.org</p>
        </article>
      </li>
      <li class="team-list--item">
        <article class="team-article">
          <picture class="team-article--picture">
            <img
              loading="lazy"
              decoding="async"
              class="team-article--img"
              src="/img/webp/team-example.webp"
              alt="team work"
            />
          </picture>
          <h4 class="team-article--title">Jacquelina Santos</h4>
          <p class="team-article--paragraph">
            <em>Treasurer</em>
          </p>
          <p class="team-article--mail">JacquelinaSantos@dacct.org</p>
        </article>
      </li>
      <li class="team-list--item">
        <article class="team-article">
          <picture class="team-article--picture">
            <img
              loading="lazy"
              decoding="async"
              class="team-article--img"
              src="/img/webp/team-example.webp"
              alt="team work"
            />
          </picture>
          <h4 class="team-article--title">Belkis Almonte</h4>
          <p class="team-article--paragraph">
            <em>Executive director</em>
            <p class="team-article--mail">BelkisAlmonte@dacct.org</p>
          </p>
        </article>
      </li>
      <li class="team-list--item">
        <article class="team-article">
          <picture class="team-article--picture">
            <img
              loading="lazy"
              decoding="async"
              class="team-article--img"
              src="/img/webp/team-example.webp"
              alt="team work"
            />
          </picture>
          <h4 class="team-article--title">Lucy Billini-Artis</h4>
          <p class="team-article--paragraph">
            <em>Administrative secretary</em>
          </p>
          <p class="team-article--mail">Lucybillini-artis@dacct.org</p>
        </article>
      </li>
    </ul>
  </section>
</Layout>

<style>
  .first-container {
    width: 100%;
    height: 800px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
  }

  .aboutUs,
  .objects {
    width: 95%;
    max-width: 1000px;
  }

  .aboutUs--title,
  .objects--title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: var(--letterSizeBig);
    color: var(--colorPrimario2);
    text-align: center;
  }

  .aboutUs--paragraph,
  .objetcs--paragraph {
    font-size: calc(var(--letterSizeMedium) / 1.2);
    text-align: center;
  }

  .aboutUs--paragraph:last-of-type {
    margin-bottom: 75px;
  }

  /* 
team
*/

  .team {
    --widthTeam: 290px;
    --displayRatio: 1.9;
    color: var(--white);

    margin-bottom: 150px;
  }

  .team--title {
    font-size: var(--letterSizeBig);
    text-align: center;
    color: var(--colorPrimario2);
    margin-top: 150px;
  }

  .team-list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .team-list--item {
    width: var(--widthTeam);
    height: calc(var(--widthTeam) * var(--displayRatio));
    transform: scale(0.7);
    cursor: pointer;
  }

  .team-article {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      196.39deg,
      hsla(224, 70%, 40%, 0.9) -1.54%,
      hsla(223, 49%, 23%, 0.9) 100%
    );
    border-radius: 0px 0px 120px 0px;
  }

  .team-article--picture {
    display: inline-block;
    position: relative;
    left: 60px;
    top: 60px;
    width: var(--widthTeam);
    height: var(--widthTeam);
    transition: transform 0.4s ease;
  }

  .team-article--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: var(--shadowGeneral);
  }

  .team-article--title,
  .team-article--paragraph,
  .team-article--mail {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
  }

  .team-article--title {
    font-size: calc(var(--letterSizeBig) / 1.1);
    margin-bottom: 10px;
    margin-top: 110px;
    font-weight: 600;
    /* semi bold */
  }

  .team-article--paragraph {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: var(--letterSizeSmall);
    font-weight: 400;
    /* regular */
    font-style: normal;
  }

  .team-article--paragraph em {
    font-style: normal;
  }

  .team-article--mail {
    margin-top: 0;
    font-weight: 200;
    /* extra light */
  }

  @media (min-width: 700px) {
    .team {
      margin-bottom: 50px;
    }

    .team--title {
      position: relative;
      top: 125px;
    }

    .team-list {
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, var(--widthTeam));
      grid-template-rows: repeat(2, 800px);
      position: relative;
      row-gap: 300px;
    }
    .team-list--item:last-child {
      position: absolute;

      left: calc(50% - var(--widthTeam) / 2);
    }
  }

  @media (min-width: 1100px) {
    .team {
      margin-bottom: 250px;
    }

    .team--title {
      top: 100px;
    }

    .team-list {
      height: auto;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, var(--widthTeam));
      grid-template-rows: repeat(2, 250px);
      margin-top: 300px;
    }

    .team-list--item:first-child {
      position: relative;
      left: calc(100% - var(--widthTeam) / 2.5);
    }

    .team-list--item:nth-child(2) {
      grid-column-start: 3;
      position: relative;
      right: calc(100% - var(--widthTeam) / 2.5);
    }

    .team-list--item:last-child {
      position: relative;
      left: 0;
    }

    .team-list--item:hover .team-article--picture {
      transform: scale(1.1, 1.1);
    }
  }
</style>
