---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dominican American Coalition of Connecticut">
  <div class="slider-container">
    <div class="slider" id="slider">
      <picture class="slider--picture0">
        <source media="(min-width: 1300px)" srcset="/img/webp/ui_slider/ui_1280.webp" />
        <source srcset="/img/webp/ui_slider/ui_1280.webp" />

        <img data-section="slider" data-content="alt-img0" class="slider--img0" src="/img/jpg/slider/img-1/ui_1280.jpg" alt="" />
      </picture>
      <picture class="slider--picture1">
        <source media="(min-width: 1300px)" srcset="/img/webp/img-2_slider/slider-2-webp.webp" />

        <source srcset="/img/webp/img-2_slider/slider-2-720-webp.webp" />
        <img
          data-section="slider"
          data-content="alt-img1"
          class="slider--img1"
          src="/img/jpg/slider/img-2/slider-2-720.jpg"
          alt="Great women in a classroom sharing ideas"
        />
      </picture>
      <picture class="slider--picture2">
        <source media="(min-width: 1300px)" srcset="/img/webp/img-3_slider/slider-3-webp.webp" />

        <source srcset="/img/webp/img-3_slider/slider-3-720-webp.webp" />
        <img
          data-section="slider"
          data-content="alt-img2"
          class="slider--img2"
          src="/img/jpg/slider/img-3/slider-3-720.jpg"
          alt="Imposing church with flags of The Dominican Republic"
        />
      </picture>
      <picture class="slider--picture3">
        <source media="(min-width: 1300px)" srcset="/img/webp/img-4_slider/slider-4-webp.webp" />

        <source srcset="/img/webp/img-4_slider/slider-4-720-webp.webp" />
        <img
          data-section="slider"
          data-content="alt-img3"
          class="slider--img3"
          src="/img/jpg/slider/img-4/slider-4-720.jpg"
          alt="Elderly people playing music with latino instruments"
        />
      </picture>
      <picture class="slider--picture4">
        <source media="(min-width: 1300px)" srcset="/img/webp/img-5_slider/slider-5-webp.webp" />

        <source srcset="/img/webp/img-5_slider/slider-5-720-webp.webp" />
        <img
          data-section="slider"
          data-content="alt-img4"
          class="slider--img4"
          src="/img/jpg/slider/img-5/slider-5-720.jpg"
          alt="Diverse people joining hands as a symbol of alliance"
        />
      </picture>
    </div>

    <div class="title-container">
      <h1 data-section="slider" data-content="title-principal" id="title" class="title">The Dominican American Coalition of Connecticut</h1>
    </div>
    <div class="wave"></div>
  </div>

  <hr />

  <div class="conocenos">
    <section class="conocenos--section">
      <h2 data-section="about_us" data-content="title" class="conocenos--title">What does The Dominican American Coalition of Connecticut do?</h2>
      <p data-section="about_us" data-content="paragraph" class="conocenos--paragraph">
        Through the execution of human development programs, The Dominican-American Coalition of Connecticut works for the benefit of the inhabitants
        of the State of Connecticut by applying models of social intervention that seeks the transformation of people, applying the “valor-arte”
        method, which means give “VALUE” to people through the “ARTS”.
      </p>
    </section>
  </div>

  <hr />
  <!-- blog preview home page -->
  <section class="blog" id="blogHome">
    <h2 data-section="blog" data-content="title" class="blog--title">Don't Miss Out! Check Our Blog</h2>
    <ul data-elementsList="blogs" id="blogList" class="blog--list">
      <li class="blog--list-item">
        <article class="blog--article">
          <picture class="blog--article-picture blog--article-wave_1">
            <source media="(min-width: 1300px)" srcset="" />
            <source srcset="" />
            <img src="" alt="" class="blog--article-img" />
          </picture>
          <time class="blog--article-time" datetime=""></time>
          <!-- NO soprepasar de 74 caracteres en title blog -->
          <h3 class="blog--article-title"></h3>
          <!-- NO soprepasar de 207 caracteres en preview text -->
          <p class="blog--article-paragraph"></p>

          <span data-open="0" data-section="blog" data-content="title-link" title="See more" class="article--buttom">See more</span>
        </article>
      </li>
      <li class="blog--list-item">
        <article class="blog--article">
          <picture class="blog--article-picture blog--article-wave_2">
            <source media="(min-width: 1300px)" srcset="" />
            <source srcset="" />
            <img src="" alt="" class="blog--article-img" />
          </picture>
          <time class="blog--article-time" datetime=""></time>
          <h3 class="blog--article-title"></h3>

          <p class="blog--article-paragraph"></p>

          <span data-open="1" data-section="blog" data-content="title-link" title="See more" class="article--buttom">See more</span>
        </article>
      </li>
      <li class="blog--list-item">
        <article class="blog--article">
          <picture class="blog--article-picture blog--article-wave_3">
            <source media="(min-width: 1300px)" srcset="" />
            <source srcset="" />
            <img src="" alt="" class="blog--article-img" />
          </picture>
          <time class="blog--article-time" datetime=""></time>
          <h3 class="blog--article-title"></h3>

          <p class="blog--article-paragraph"></p>

          <span data-open="2" data-section="blog" data-content="title-link" title="See more" class="article--buttom">See more</span>
        </article>
      </li>
    </ul>
  </section>
  <hr />
  <!-- Seccion de estrategias -->

  <div class="container-card2" id="containerCardTwo">
    <div class="background-card2" id="bgrCardTwo">
      <picture>
        <source media="(min-width: 1300px)" srcset="/img/webp/home_page/Estrategias-home-page_1080_webp.webp" />
        <source srcset="/img/webp/home_page/Estrategias-home-page-720_webp.webp" />

        <img
          data-section="strategies"
          data-content="alt"
          class="background-card2--img"
          src="/img/jpg/home_page/Estrategias-home-page-720_jpg.jpg"
          alt="A work team in a office making a social strategy"
        />
      </picture>
      <!-- Contenedor de la card -->
      <div class="background-card2--size">
        <!-- Contenedor de la card -->
        <section class="card2" id="cardTwo">
          <h3 data-section="strategies" data-content="title" class="card2--title">Strategies</h3>

          <!-- Contenedor Lista -->
          <div class="card2--list-container">
            <p class="card2--list-paragraph" data-section="strategies" data-content="paragraph0">Educating communities in:</p>
            <ul class="card2--list">
              <li data-section="strategies" data-content="list0">Handcrafts.</li>
              <li data-section="strategies" data-content="list1">Financial education for children and adults - In alliance with TD Bank and KW.</li>
              <li data-section="strategies" data-content="list2">Metabolism and Nutrition - In alliance with Be - Well Kairos Foundation.</li>
              <li data-section="strategies" data-content="list3">Basic computer literacy for adults.</li>
              <li data-section="strategies" data-content="list4">ESL program - In alliance with LEAD.</li>
              <li data-section="strategies" data-content="list5">Musical Instruments.</li>
              <li data-section="strategies" data-content="list6">Sports programs.</li>
            </ul>
          </div>

          <!-- Contenedor parrafo -->

          <p data-section="strategies" data-content="paragraph1" class="card2--paragraph">
            Future generations of Latinos can identify their heritage through culture, gain a historical perspective, and understanding of their
            cultural identity.
          </p>
        </section>
      </div>
    </div>
  </div>

  <!-- tercer peo -->

  <!-- Fin de la sección -->
  <hr />
  <!-- Progrmas -->

  <section id="programs" class="programs">
    <h2 data-section="programs" data-content="title" class="programs--title">Programs</h2>
    <ul class="programs--list">
      <li class="programs--list-item">
        <article class="programs--list-article">
          <img
            class="programs--list-icon"
            src="/img/svg/programs/chocolate_yola.svg"
            data-section="programs"
            data-content="alt0"
            alt="Two hands joined together"
          />

          <h3 class="programs--list-title">
            Chocolate <br />
            con Yola
          </h3>
          <p data-section="programs" data-content="paragraph0" class="programs--list-paragraph">
            This program was born from the collaboration of United Healthcare, Gala Foods Supermarket, and the BeWell Kairos Foundation as a response
            to the imperative need...
          </p>
          <a
            data-section="programs"
            data-content="title-link"
            href="programs.html#programOne"
            title="See more"
            class="article--buttom buttom__programs">See more</a
          >
        </article>
      </li>
      <li class="programs--list-item">
        <article class="programs--list-article">
          <img
            data-section="programs"
            data-content="alt1"
            class="programs--list-icon"
            src="/img/svg/programs/codac.svg"
            alt="First aid kit with medicines"
          />

          <h3 class="programs--list-title">CODAC</h3>
          <p data-section="programs" data-content="paragraph1" class="programs--list-paragraph">
            Our social assistance program with which we benefit dozens of Connecticut residents with immigration applications, translations, notaries,
            rent, food...
          </p>
          <a
            data-section="programs"
            data-content="title-link"
            href="programs.html#programTwo"
            title="See more"
            class="article--buttom buttom__programs">See more</a
          >
        </article>
      </li>
      <li class="programs--list-item">
        <article class="programs--list-article">
          <img
            data-section="programs"
            data-content="alt2"
            class="programs--list-icon"
            src="/img/svg/programs/finanzas.svg"
            alt="Responsible finances to learn to manage your money better"
          />

          <h3 data-section="programs" data-content="sub-title2" class="programs--list-title">My<br />Finances</h3>
          <p data-section="programs" data-content="paragraph2" class="programs--list-paragraph">
            Our program seeks to promote financial stability in the community by providing financial literacy. The more knowledge people have about
            credit and financial services...
          </p>
          <a
            data-section="programs"
            data-content="title-link"
            href="programs.html#programThree"
            title="See more"
            class="article--buttom buttom__programs">See more</a
          >
        </article>
      </li>
      <li class="programs--list-item">
        <article class="programs--list-article">
          <img
            data-section="programs"
            data-content="alt3"
            class="programs--list-icon"
            src="/img/svg/programs/co-alianza.svg"
            alt="Alliance between people with their hands on their hearts"
          />

          <h3 data-section="programs" data-content="sub-title3" class="programs--list-title">Co<br />Alliance</h3>
          <p data-section="programs" data-content="paragraph3" class="programs--list-paragraph">
            Our Co-Alliance program seeks to establish partnerships with social and private organizations on issues relevant to the communities...
          </p>
          <a
            data-section="programs"
            data-content="title-link"
            href="programs.html#programFour"
            title="See more"
            class="article--buttom buttom__programs">See more</a
          >
        </article>
      </li>
    </ul>
  </section>

  <hr />
  <!-- alianazas slider -->
  <!-- alt de logos-->

  <section class="alliance">
    <h2 data-section="alliance" data-content="title" class="alliance--title">Allies</h2>
    <div class="alliance--list-container">
      <ul class="alliance--list alliance--list__mobile" id="allianceList">
        <li class="alliance--list-item">
          <a
            data-section="alliance"
            data-content="title-link"
            title="See more"
            target="_blank"
            href="https://www.youtube.com/c/SUPERELITEENTERTAINMENT"
            class="alliance--list-link">
            <picture class="alliance--list-picture">
              <source srcset="/img/alliance/aliados_webp/SEE_webp.webp" />
              <img src="/img/alliance/aliados_png/SEE.png" alt="Super elite entertainment" class="alliance--list-img alliance--list-img__size" />
            </picture>
          </a>
        </li>

        <li class="alliance--list-item">
          <a data-section="alliance" data-content="title-link" title="See more" target="_blank" href="https://hccgb.org/" class="alliance--list-link">
            <picture class="alliance--list-picture">
              <source srcset="/img/alliance/aliados_webp/HCCGB_webp.webp" />
              <img
                src="/img/alliance/aliados_png/HCCGB.png"
                alt="Hispanic Chamber of Commerce of greater Bridgeport"
                class="alliance--list-img alliance--list-img__size"
              />
            </picture>
          </a>
        </li>
        <li class="alliance--list-item">
          <a
            data-section="alliance"
            data-content="title-link"
            title="See more"
            target="_blank"
            href="https://redcontraelabusosexual.org/"
            class="alliance--list-link">
            <picture class="alliance--list-picture">
              <source srcset="/img/alliance/aliados_webp/fundation_ed_webp.webp" />
              <img
                src="/img/alliance/aliados_png/fundation_ed.png"
                alt="red contra el abuso sexual"
                class="alliance--list-img alliance--list-img__size"
              />
            </picture>
          </a>
        </li>

        <li class="alliance--list-item">
          <a
            data-section="alliance"
            data-content="title-link"
            title="See more"
            target="_blank"
            href="https://ctlead.org/"
            class="alliance--list-link">
            <picture class="alliance--list-picture">
              <source srcset="/img/alliance/aliados_webp/LEAD_webp.webp" />
              <img
                src="/img/alliance/aliados_png/LEAD.png"
                alt="Latinos for Educational Advocacy and Diversity"
                class="alliance--list-img alliance--list-img__size"
              />
            </picture>
          </a>
        </li>
        <li class="alliance--list-item">
          <a
            data-section="alliance"
            data-content="title-link"
            title="See more"
            target="_blank"
            href="https://es.uhccommunityplan.com/"
            class="alliance--list-link">
            <picture class="alliance--list-picture">
              <source srcset="/img/alliance/aliados_webp/unitedhealthcare_webp.webp" />
              <img src="/img/alliance/aliados_png/unitedhealthcare.png" alt="United Healthcare Community Plan" class="alliance--list-img" />
            </picture>
          </a>
        </li>
        <li class="alliance--list-item">
          <a
            data-section="alliance"
            data-content="title-link"
            title="See more"
            target="_blank"
            href="https://kairosfundation.org/"
            class="alliance--list-link">
            <picture class="alliance--list-picture">
              <source srcset="/img/alliance/aliados_webp/kairos_foundation_webp.webp" />
              <img src="/img/alliance/aliados_png/kairos_foundation.png" alt="kairos fundation" class="alliance--list-img" />
            </picture></a
          >
        </li>
        <li class="alliance--list-item">
          <a
            data-section="alliance"
            data-content="title-link"
            title="See more"
            target="_blank"
            href="https://galasupermarkets.com/#"
            class="alliance--list-link">
            <picture class="alliance--list-picture">
              <source srcset="/img/alliance/aliados_webp/gala_foods_webp.webp" />
              <img src="/img/alliance/aliados_png/gala_foods.png" alt="Gala foods supermarkets" class="alliance--list-img" />
            </picture>
          </a>
        </li>
        <li class="alliance--list-item">
          <a
            data-section="alliance"
            data-content="title-link"
            title="See more"
            target="_blank"
            href="http://www.bdklawgroup.com/"
            class="alliance--list-link">
            <picture class="alliance--list-picture">
              <source srcset="/img/alliance/aliados_webp/BDK_webp.webp" />
              <img src="/img/alliance/aliados_png/BDK.png" alt="BDK Law Group" class="alliance--list-img" />
            </picture>
          </a>
        </li>
      </ul>
      <div class="alliance--prev" id="buttomPrev">&lt;</div>
      <div class="alliance--next" id="buttomNext">></div>
    </div>
  </section>
  <!-- fin de slider -->
  <hr />
  <!-- patroners-->
  <section>
    <h2 data-section="patrons" data-content="title" class="title-patrons">Sponsors</h2>
    <p data-section="patrons" data-content="sub-title0" class="paragraph-patrons">Click our donate button!</p>
    <div class="container-patrons">
      <section class="patrons--sections">
        <h3 data-section="patrons" data-content="sub-title1" class="patrons--title">Community Member Support</h3>
        <ul class="patrons--list">
          <li data-section="patrons" data-content="sub-title1_list0">Support to the Latino Community in the state of Connecticut.</li>
        </ul>
        <p class="patrons--money">$1 – $1k</p>
      </section>
      <section class="patrons--sections">
        <h3 data-section="patrons" data-content="sub-title2" class="patrons--title">Community Benefactor</h3>
        <ul class="patrons--list">
          <li data-section="patrons" data-content="sub-title2_list0">Extra Public recognition.</li>
          <li data-section="patrons" data-content="sub-title2_list1">Support to the Latino Community in the state of Connecticut.</li>
        </ul>
        <p class="patrons--money">$1k – $5k</p>
      </section>
      <section class="patrons--sections">
        <h3 data-section="patrons" data-content="sub-title3" class="patrons--title">Community Champion</h3>
        <ul class="patrons--list">
          <li data-section="patrons" data-content="sub-title3_list0">Extra Public recognition.</li>
          <li data-section="patrons" data-content="sub-title3_list1">Social media coverage.</li>
          <li data-section="patrons" data-content="sub-title3_list2">Display partner logo in all of our platforms and media communications.</li>
        </ul>
        <p class="patrons--money">$5k – $10k</p>
      </section>
      <section class="patrons--sections">
        <h3 data-section="patrons" data-content="sub-title4" class="patrons--title">DACCT Special Patron</h3>
        <ul class="patrons--list">
          <li data-section="patrons" data-content="sub-title4_list0">Extra social media coverage.</li>
          <li data-section="patrons" data-content="sub-title4_list1">Official sponsor video.</li>
          <li data-section="patrons" data-content="sub-title4_list2">
            Recognition in plaque, big banner and ALL benefits from the Community Benefactor.
          </li>
        </ul>
        <p data-section="patrons" data-content="sub-title4_paragraph" class="patrons--money">$10K and up</p>
      </section>
    </div>
  </section>
</Layout>

<style></style>
