---
import Layout from '../layouts/Layout.astro';
import BannerPages from '../components/BannerPages.astro';
---

<Layout title="Programs">
  <BannerPages wave="img\svg\programs\wave_programs.svg" />
  <hr />
  <!-- PROGRAMAS -->

  <ul class="programs-list" id="programs">
    <li class="programs-list--item">
      <div id="programOne"></div>
      <article class="programs-list--article">
        <img
          data-section="programs0"
          data-content="alt-svg"
          class="programs-list--icon"
          src="assets/img/svg/programs/chocolate_yola.svg"
          alt="Two hands joined together"
        />
        <picture class="programs-list--picture">
          <source srcset="assets/img/webp/programs/Chocolate-con-yola-720_webp.webp" />
          <img
            data-section="programs0"
            data-content="alt"
            class="programs-list--img"
            src="assets/img/jpg/programs/Chocolate-con-yola-720.jpg"
            alt="Group of young people and elderly people sharing and learning values for healthy coexistance to reinforce family bonds"
          />
        </picture>
        <h3 class="programs-list--title">Chocolate con Yola</h3>
        <div class="programs-list--paragraph-container">
          <p data-section="programs0" data-content="paragraph" class="programs-list--paragraph">
            This program was born from the collaboration of United Healthcare, Gala Foods Supermarket, and the BeWell Kairos Foundation as a response
            to the imperative need to bring the aging population a connection with our younger generations to share experience, anecdotes, and life
            values of grandparents. In return our children bring them joy through the arts and the affection to the elderly. This will strengthen
            family ties in a world that is slowly beginning to suffer from personal connections.
            <br /><br />
            Our older adults are motivated through talks by different specialists on topics such as: metabolism, nutrition, financial education, psychology,
            etc. In addition to artistic presentations, they also benefit from raffles, games, refreshments and the love of the volunteers of our organization.
          </p>
        </div>
      </article>
    </li>
    <li class="programs-list--item">
      <div id="programTwo"></div>
      <article class="programs-list--article">
        <img
          data-section="programs1"
          data-content="alt-svg"
          class="programs-list--icon"
          src="assets/img/svg/programs/codac.svg"
          alt="First aid kit with medicines"
        />
        <picture class="programs-list--picture">
          <source srcset="assets/img/webp/programs/CODAC-720_webp.webp" />
          <img
            data-section="programs1"
            data-content="alt"
            class="programs-list--img"
            src="assets/img/jpg/programs/CODAC-720.jpg"
            alt="people in a storage managing the food for the social program CODAC"
          />
        </picture>
        <h3 class="programs-list--title">CODAC</h3>
        <div class="programs-list--paragraph-container">
          <p data-section="programs1" data-content="paragraph" class="programs-list--paragraph">
            Our social assistance program with which we benefit dozens of Connecticut residents with immigration applications, translations, notaries,
            rent, food, among other services.<br /><br />
            The coalition relies on the professional and valuable work of 2 social workers who address all kinds of questions and forms during the week.
          </p>
        </div>
      </article>
    </li>
    <li class="programs-list--item">
      <div id="programThree"></div>
      <article class="programs-list--article">
        <img
          data-section="programs2"
          data-content="alt-svg"
          class="programs-list--icon"
          src="assets/img/svg/programs/finanzas.svg"
          alt="Responsible finances to learn to manage your money better"
        />
        <picture class="programs-list--picture">
          <source srcset="assets/img/webp/programs/Mis-finanzas-720_webp.webp" />
          <img
            data-section="programs2"
            data-content="alt"
            class="programs-list--img"
            src="assets/img/jpg/programs/Mis-finanzas-720.jpg"
            alt="financial analysis to learn to better manage personal finances en small businesses"
          />
        </picture>
        <h3 data-section="programs2" data-content="title" class="programs-list--title">My Finances</h3>
        <div data-section="programs2" data-content="paragraph" class="programs-list--paragraph-container">
          <p class="programs-list--paragraph">
            Our program seeks to promote financial stability in the community by providing financial literacy. The more knowledge people have about
            credit and financial services, the better decisions they will be able make regarding money matters, saving money, and improving their
            financial conditions and well-being. Some of our workshops include:
          </p>
          <ul>
            <li>Budgeting.</li>
            <li>Finance and small business development.</li>
            <li>Women's Entrepreneurship.</li>
            <li>Job Search Tools.</li>
            <li>First time home buyer seminars.</li>
            <li>Credit repair.</li>
            <li>Financial education for children and adults.</li>
          </ul>
        </div>
      </article>
    </li>
    <li class="programs-list--item">
      <div id="programFour"></div>
      <article class="programs-list--article">
        <img
          data-section="programs3"
          data-content="alt-svg"
          class="programs-list--icon"
          src="assets/img/svg/programs/co-alianza.svg"
          alt="Alliance between people with their hands on their hearts"
        />
        <picture class="programs-list--picture">
          <source srcset="assets/img/webp/programs/Co-Alianza-720_webp.webp" />
          <img
            data-section="programs3"
            data-content="alt"
            class="programs-list--img"
            src="assets/img/jpg/programs/Co-Alianza-720.jpg"
            alt="people forming an alliance with the purpose of offering value to society"
          />
        </picture>
        <h3 data-section="programs3" data-content="title" class="programs-list--title">Co Alliance</h3>
        <div class="programs-list--paragraph-container">
          <p data-section="programs3" data-content="paragraph" class="programs-list--paragraph">
            Our Co-Alliance program seeks to establish partnerships with social and private organizations on issues relevant to the communities with
            the objective of sharing knowledge, programs, and resources with these entities.
          </p>
        </div>
      </article>
    </li>
  </ul>
</Layout>
