.conocenos {

 
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conocenos--section {
  width: 95%;
  max-width: 1000px;
}

.conocenos--title,
.conocenos--paragraph {
  text-align: center;
  width: 100%;
}

.conocenos--title {
  font-size: var(--letterSizeBig);
  color: var(--colorPrimario2);
  margin-top: 0;
  margin-bottom: 50px;
}

.conocenos--paragraph {
  font-size: calc(var(--letterSizeMedium) / 1.2);
  margin-top: 0;
  margin-bottom: 0;
}
