.blog {
	--width: 340px;

	top: 100px;
	opacity: 1;
	transition: all 0.6s ease;
}

.blog__scroll {
	top: 0px;
	opacity: 1;
}
.blog--title {
	text-align: center;
	color: var(--colorPrimario2);
	margin-top: 100px;
	margin-bottom: 0px;
}

.blog--list {
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	/* para centrar en grandes resoluciones */
	margin-left: auto;
	margin-right: auto;
	display: flex;
	/* cambiar en PC */
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 1800px;
}

.blog--list-item {
	width: var(--width);
	height: calc(var(--width) * 1.3405);

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	background-image: linear-gradient(180deg, #ffffff 50%, #f0f2fa 100%);
	overflow: hidden;
	transition: transform 0.3s ease;
}

.blog--article {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.blog--article-picture {
	height: 45%;
	width: 100%;
	position: relative;
}

.blog--article-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.blog--article-wave_1::after,
.blog--article-wave_2::after,
.blog--article-wave_3::after {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: -5px;
	left: 0;
	background-repeat: no-repeat;
	background-position: bottom;
}

.blog--article-wave_1::after {
	background-image: url(img/svg/blog/blog_new_1.svg);
}
.blog--article-wave_2::after {
	background-image: url(img/svg/blog/blog_new_2.svg);
}
.blog--article-wave_3::after {
	background-image: url(img/svg/blog/blog_new_3.svg);
}

.blog--article-time {
	position: absolute;
	left: -5px;
	top: -2.5px;
	width: 180px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 50px;
	font-size: calc(var(--letterSizeSmall) / 1.3);
	color: var(--white);
	background-color: var(--colorPrimario);
}

.blog--article-title {
	color: var(--colorPrimario2);
	position: relative;
	top: -10px;
	text-align: center;
	margin-bottom: 10px;
}

.blog--article-paragraph {
	width: 85%;
	text-align: center;
	margin-top: 0;
	font-weight: 500;
}

/* buttom BLOG and PROGRAMS */

.article--buttom {
	width: calc(34.55px * 3.1034);
	height: 34.55px;
	background-color: var(--colorSecundario);
	color: var(--white);
	border-radius: 55px;
	display: flex;
	align-items: center;
	padding-left: 12px;
	text-decoration: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	transition: width 0.3s ease;
}

.article--buttom::after {
	content: '';
	border-left: 12px solid var(--white);
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	position: absolute;
	top: calc(50% - 5px);
	right: 12px;
}

/* ELEMETOS destacados */

.star {
	background-image: url(img/png/star/star.png);
	height: 30px;
	width: 30px;
	position: absolute;
	background-size: contain;
	bottom: 20px;
	left: 20px;
	transform: rotate(0deg);
	transition: transform 0.4s;
}

@media (min-width: 1200px) {
	.blog {
		margin-bottom: 200px;
	}
	.blog--list {
		max-width: 2000px;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		height: auto;
	}

	.blog--title {
		margin-bottom: 100px;
	}
}

@media (min-width: 1300px) {
	/* buttom BLOG and PROGRAMS */
	.blog--list-item:hover {
		transform: scale(1.03, 1.03);
	}

	.article--buttom:hover {
		width: calc(34.55px * 3.4827);
	}

	/* ELEMETOS destacados HOVER */

	.blog--list-item:hover .star {
		transform: rotate(72deg);
	}
}
