.programs {
	--widthPrograms: 300px;
	margin-bottom: 200px;	
	transform: translateY(100px);
	opacity: 0;
	transition: all 0.6s ease;
}

.programs__scroll {
	transform: translateY(0px);
	opacity: 1;
}

.programs--title {
	text-align: center;
	color: var(--colorPrimario2);
	margin-top: 50px;
	margin-bottom: 100px;
}

.programs--list {
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
	/* para centrar en grandes resoluciones */
	margin-left: auto;
	margin-right: auto;
	color: var(--white);
	max-width: 1800px;
	display: grid;
	gap:80px 15px;
	grid-template-columns: repeat(auto-fit, minmax(var(--widthPrograms), 1fr));
}

.programs--list-item {
	width: var(--widthPrograms);
	height: calc(var(--widthPrograms) * 1.1915);
	position: relative;
	left: calc(50% - var(--widthPrograms) / 2);
	background: linear-gradient(213.1deg, hsl(224, 70%, 40%) 23.22%, hsl(223, 49%, 23%) 92%);
	box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
	border-radius: 30px;
}

.programs--list-article {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.programs--list-icon {
	width: 100px;
	height: 100px;

	position: relative;
	top: 8%;
	transition: top 0.6s ease;
}

.programs--list-title {
	position: relative;
	top: 10%;
	margin-bottom: 0;
	font-size: var(--letterSizeBig);
	text-align: center;
	z-index: 100;
	/* semi bold */
	font-weight: 600;
	transition: top 0.6s ease;
}

.programs--list-item:nth-child(2) .programs--list-title {
	top: 14%;
	transition: top 0.6s ease;
}

.programs--list-paragraph {
	opacity: 0;
	position: absolute;
	top: 35%;
	text-align: center;
	width: 85%;
	transition: opacity 0.6s ease;
}

.buttom__programs {
	background-color: var(--white);
	color: var(--colorSecundario);
	position: absolute;
	bottom: 13%;
}

.buttom__programs::after {
	border-left: 12px solid var(--colorSecundario);
}

@media (min-width: 1300px) {
	.programs--title {
		margin-top: 170px;
	}

	.programs--list-item:hover .programs--list-icon {
		top: -30%;
	}

	.programs--list-item:hover .programs--list-title {
		top: -20%;
	}

	.programs--list-item:hover .programs--list-paragraph {
		opacity: 1;
	}
}
