/* aliados */

.alliance--title {
	color: var(--colorPrimario2);
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
}

.alliance--list-container {
	--sizeAlliance: 400px;
	height: var(--sizeAlliance);
	position: relative;
}



.alliance--list {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
	/* solo cambiar un valor para redimensionar todo */
height: 105%;

align-items: center;

}



.alliance--list-link,
.alliance--list-picture {
	display: flex;
	justify-content: center;
	align-items: center;
}

.alliance--list-picture {
	height: calc(var(--sizeAlliance) * 0.8);
	/* equivalente al alto */
	width: calc(var(--sizeAlliance) * 0.8);
	border-radius: 50%;

	background-color: #fff;
	box-shadow: -5px 10px 15px 0px hsl(0, 0%, 84%);
}

.alliance--list-img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.alliance--list-img__size {
	transform: scale(1.2, 1.2);
}



@media (min-width: 1000px) {
	



	.alliance--list-item {
		width: 100%;
		transform: scale(0.6, 0.6);
		transition: transform 0.3s ease;
	}

	.alliance--list-item:hover {
		transform: scale(0.8, 0.8);
	}

	.alliance--list-item:nth-child(2) {
		transform: scale(1, 1);
	}



	.alliance--list-item:nth-child(2):hover {
		transform: scale(1.1, 1.1);
	}

	.alliance--prev,
	.alliance--next {
		border: none;
		display: inline-block;
		position: absolute;
		top: calc((var(--sizeAlliance) / 1.1) / 2);
		height: 50px;
		width: 50px;
		border-radius: 50%;
		background-color: var(--black);
		color: var(--white);
		opacity: 0.6;
		font-size: calc(var(--letterSizeBig) * 1.25);
		font-family: monospace, 'Outfit', sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.alliance--prev {
		left: 10px;
	}

	.alliance--next {
		right: 10px;
	}

}
