/* aliados */

.alliance--title {
	color: var(--colorPrimario2);
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
}

.alliance--list-container {
	--sizeAlliance: 400px;
	height: var(--sizeAlliance);
}

.alliance--prev,
.alliance--next {
	display: none;
}

.alliance--list {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
	display: flex;
	/* solo cambiar un valor para redimensionar todo */

	height: 105%;
}

.alliance--list-item,
.alliance--list-link {
	width: 100vw;
	height: 100%;
}

.alliance--list-link,
.alliance--list-picture {
	display: flex;
	justify-content: center;
	align-items: center;
}

.alliance--list-picture {
	height: calc(var(--sizeAlliance) * 0.8);
	/* equivalente al alto */
	width: calc(var(--sizeAlliance) * 0.8);
	border-radius: 50%;

	background-color: #fff;
	box-shadow: -5px 10px 15px 0px hsl(0, 0%, 84%);
}

.alliance--list-img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.alliance--list-img__size {
	transform: scale(1.2, 1.2);
}

/* slider con CSS en movil */

@media (max-width: 999px) {
	/* Slider elastic CSS*/
	.alliance--list__mobile {
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
	}

	.alliance--list__mobile .alliance--list-item {
		scroll-snap-align: center;
	}
}

@media (min-width: 1000px) {
	.alliance--list-container {
		margin-left: auto;
		margin-right: auto;
		max-width: 1500px;
		overflow: hidden;
		--sizeAlliance: 400px;
		height: var(--sizeAlliance);
		position: relative;
		display: flex;

		align-items: center;
	}

	.alliance--prev,
	.alliance--next {
		display: inline-block;
		position: absolute;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		background-color: var(--black);
		color: var(--white);
		opacity: 0.6;
		font-size: calc(var(--letterSizeBig) * 1.25);
		font-family: monospace, 'Outfit', sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.alliance--prev {
		left: 10px;
	}

	.alliance--next {
		right: 10px;
	}

	.alliance--list {
		position: absolute;

		/* coloca los elementos en funcion del espacio disponible */

		width: 266.5%;
		/* para desplazamiento a la izquierda previo */
		margin-left: calc(-100% / 3);
	}

	.alliance--list-item {
		width: 100%;
		transform: scale(0.6, 0.6);
		transition: transform 0.4s ease;
	}

	.alliance--list-item:hover {
		transform: scale(0.8, 0.8);
	}

	.alliance--list-item:nth-child(3) {
		transform: scale(1, 1);
	}

	.alliance--list-item:nth-child(3):hover {
		transform: scale(1.1, 1.1);
	}

	/* evento click Prev JS */
	.alliance--list__prev {
		transition: margin-left 0.6s ease;
		margin-left: calc(0% / 3);
	}

	.alliance--list__prev .alliance--list-item:nth-child(2) {
		transition: transform 0.6s ease;
		transform: scale(1, 1);
	}

	.alliance--list__prev .alliance--list-item:nth-child(3) {
		transition: transform 0.6s ease;
		transform: scale(0.6, 0.6);
	}

	/* exit Prev */

	/* evento click Next JS */
	.alliance--list__next {
		transition: margin-left 0.6s ease;
		margin-left: calc(-200% / 3);
	}

	.alliance--list__next .alliance--list-item:nth-child(4) {
		transition: transform 0.6s ease;
		transform: scale(1, 1);
	}

	.alliance--list__next .alliance--list-item:nth-child(3) {
		transition: transform 0.6s ease;
		transform: scale(0.6, 0.6);
	}

	/* exit Next */
	.alliance--list-link {
		width: 100%;
	}
}
