

/* Slider Automatico */

.slider-container {
	position: relative;
	overflow: hidden;

	width: 100%;
}

.slider {
	/* --colorPrimario y colorPrimario2 con opacidad */
	background-image: linear-gradient(hsla(231, 70%, 30%, 0.9) 15%, hsla(224, 70%, 40%, 0.7) 30%);
	height: 100vh;
	position: relative;
}
/* No se hizo por img para facilitar la iteracion por JS */

.slider--picture1,
.slider--picture2,
.slider--picture3,
.slider--picture4 {
	position: absolute;
	height: 100vh;
	width: 100%;
	animation: slider 20s ease infinite;
	z-index: -50;
	opacity: 0;
}




.slider--picture2 {

	animation-delay: 5s;


}
.slider--picture3 {

	animation-delay: 10s;
}

.slider--picture4 {

	animation-delay:15s;
}

@keyframes slider {
	0% {
	   opacity: 0;
   }
   6% {
	   opacity: 1;
   }
   24% {
	   opacity: 1;
   }
   30% {
	   opacity: 0;
   }
   100% {
	   opacity: 0;
   }
   }

.slider--img0,
.slider--img1,
.slider--img2,
.slider--img3,
.slider--img4 {
	position: relative;
	z-index: -2000;
	height: 100vh;
	width: 100%;
	object-fit: cover;
}

/* Los que considero que no se ven bien */
.slider--img0 {
	object-position: 55%;
}

.slider--img2 {
	object-position: 44%;
}

.slider--img3 {
	object-position: 40%;
}

/* efecto de onda */

.wave {
	background-image: url(/img/svg/wave.svg);
	position: absolute;
	bottom: -5%;
	width: 600%;
	height: 400px;
	transform: rotateX(180deg);
	background-position: bottom;

	animation: w 15s linear infinite;
}

/* investigar esta reaccion  particular en el key frame */
@keyframes w {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: -1600px;
	}
}

/* title H1 */

.title-container {
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	position: absolute;
	color: var(--white);
	width: 80%;
	letter-spacing: 5px;
	line-height: 1.5;
	font-size: var(--letterSizeTitle);
	margin-bottom: 0;
	margin-top: 0;
}


@media (min-width: 750px) {
	.title {
		text-align: center;
		width: 90%;
		font-size: calc(var(--letterSizeTitle )* 1.2);
	}
}
