---
interface Props {
  wave: string;
  upperTitle: string;
}

const { wave, upperTitle } = Astro.props;
---

<div class="banner">
  <picture class="banner--picture">
    <source
      srcset="/img/webp/banner/banner-1080.webp"
      media="(min-width:1300px)"
    />

    <img
      data-section="banner"
      data-content="alt"
      class="banner--img"
      src="/img/webp/banner/banner.webp"
      alt=""
    />
  </picture>

  <h2
    data-section="banner"
    data-content="title-principal"
    class="banner--title"
    transition:name="titleBanner"
    transition:animate="none"
  >
    {upperTitle}
  </h2>
  <img src={wave} alt="wave" class="wavePages" />
</div>

<style>
  /* banner */

  .banner {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* --colorPrimario y colorPrimario2 con opacidad */
    background-image: linear-gradient(
      hsla(230, 70%, 30%, 0.6) 30%,
      hsla(224, 85%, 55%, 0.7) 70%
    );
  }

  .banner--picture {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -100;
  }

  .banner--img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .banner--title {
    position: absolute;
    color: var(--white);
    font-size: 2rem;
    z-index: 100;
    font-size: calc(var(--letterSizeGiant) / 3);
    text-transform: uppercase;
    letter-spacing: 3px;
    /* extra bold */
    font-weight: 800;
  }

  .wavePages {
    position: absolute;
    bottom: -1%;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
  }

  @media (min-width: 600px) {
    .banner--title {
      font-size: calc(var(--letterSizeGiant) / 1.5);
    }
  }

  @media (min-width: 1000px) {
    .banner--title {
      font-size: var(--letterSizeGiant);
    }
  }
</style>
