---
import '../styles/menu.css';

import { MenuSelect } from '../enums';

interface Props {
  menuSelect: MenuSelect;
}

const { menuSelect } = Astro.props;
---

<script>
  const menuModal = document.getElementById('menuModal');
  const menuActive = document.getElementById('menuActive');
  const menuDesactive = document.getElementById('menuDesactive');

  menuActive.addEventListener('click', () => {
    if (!document.startViewTransition) {
      menuModal.showModal();
      return;
    }

    document.startViewTransition(() => {
      menuModal.showModal();
    });
  });

  menuDesactive.addEventListener('click', () => {
    if (!document.startViewTransition) {
      menuModal.close();
      return;
    }

    document.startViewTransition(() => {
      menuModal.close();
    });
  });

  window.addEventListener('click', (e) => {
    if (e.target === menuModal) {
      if (!document.startViewTransition) {
        menuModal.close();
        return;
      }

      document.startViewTransition(() => {
        menuModal.close();
      });
    }
  });
</script>
<div class="menu-container">
  <div class="menu">
    <!-- Logo -->
    <a title="Logo" href="/" class="logo">
      <picture>
        <!-- adaptar imagenes -->

        <source srcset="/img/webp/logo/logo_name.webp" />
        <img
          class="logo--img"
          src="/img/png/logo/logo_name_png.png"
          alt="Logo with flags of The Dominican Republic and The United States where they make a social contribution in Connecticut"
          data-section="header"
          data-content="alt-logo"
        />
      </picture>
    </a>
    <div data-section="header" data-content="title-active-menu" title="Enable menu" class="menu-active" id="menuActive"></div>

    <dialog id="menuModal" class="menu--modal">
      <nav role="navigation" class="nav" id="menu-nav">
        <div data-section="header" data-content="title-desactive-menu" title="Disable menu" class="menu-desactive" id="menuDesactive"></div>
        <ul class="list" id="list">
          <li class:list={['list--item', { listItem__select: menuSelect === MenuSelect.home }]}>
            <a data-section="header" data-content="title-nav-home" title="Home" href="/">Home</a>
          </li>
          <li class:list={['list--item', { listItem__select: menuSelect === MenuSelect.aboutUs }]}>
            <a data-section="header" data-content="title-nav-about_us" title="About us" href="/about_us/">About us</a>
          </li>
          <li class:list={['list--item', { listItem__select: menuSelect === MenuSelect.programs }]}>
            <a data-section="header" data-content="title-nav-programs" title="Programs" href="/programs/">Programs</a>
          </li>
          <li class:list={['list--item', { listItem__select: menuSelect === MenuSelect.blog }]}>
            <a title="Blog" href="/blog/">Blog</a>
          </li>

          <li class:list={['list--item', { listItem__select: menuSelect === MenuSelect.contactUs }]}>
            <a data-section="header" data-content="title-nav-contacts" title="Contact us" href="/contact_us/">Contact us</a>
          </li>
          <li class="list--item donate-buttom">
            <a
              data-section="header"
              data-content="title-nav-donate"
              title="Donate"
              href="https://www.paypal.com/donate/?hosted_button_id=KZMTUG9N6XT7W"
              target="_blank">Donate</a
            >
          </li>
          <li class="list--item">
            <div id="lang" class="lang lang__hover">
              <em data-section="header" data-content="nav-lang"> language </em>
            </div>
            <div class="lang--selector">
              <ul id="languageContainer" class="lang--list">
                <li data-lang="es" data-section="header" data-content="title-es" title="Spanish" class="lang--list-item">
                  <span data-lang="es" lang="es">ES</span>
                  <img
                    data-lang="es"
                    data-section="header"
                    data-content="alt-es"
                    src="/img/png/icon/republica-dominicana.png"
                    alt="Flag of The Dominican Republic"
                  />
                </li>
                <li data-lang="en" data-section="header" data-content="title-en" title="English" class="lang--list-item">
                  <span data-lang="en" lang="en">EN</span>
                  <img
                    data-lang="en"
                    data-section="header"
                    data-content="alt-en"
                    src="/img/png/icon/estados-unidos.png"
                    alt="Flag of The United States"
                  />
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </dialog>
  </div>
</div>
