.programs-list {
    color: var(--white);
    position: relative;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 50px;
    overflow: hidden;
    /* para centrar en grandes resoluciones */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* cambiar en PC */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 200px;
    margin-top: 100px;
  }

  .programs-list--item {
    width: 95%;
    height: 725px;
    position: relative;
   
  }

  .programs-list--item-last {
margin-bottom: 150px;
   
  }


  .programs-list--item-pair {
    transform: scalex(-1);
    top: 15%;
  }

  #programOne,
  #programTwo,
  #programThree,
  #programFour {
    position: relative;
    top: -150px;
  }

  .programs-list--article {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;

    background-image: linear-gradient(79.6deg, #1e2e58 0.61%, #1f45ad 99%);
    border-radius: 51px 51px 51px 111px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }

  /* animation element scroll JS */


  .programs-list--item .programs-list--article {
    transform: translateX(200%);
  }


  .programs-list--item__scroll > .programs-list--article {
    transform: translateX(0%);
  }

  .programs-list--icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5%;
    left: 10%;
  }

  .programs-list--picture {
    position: absolute;
    top: -50px;
    left: 40%;

    height: 220px;
    width: 220px;
  }

 .programs-list--img,.programs-list--img2,.programs-list--img3,.programs-list--img4{
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
 
  .programs-list--img {
 
    border-radius: 63% 27% 36% 33% / 49% 35% 42% 41%;
  }

 .programs-list--img2 {
    border-radius: 33% 66% 25% 52% / 38% 44% 35% 51%;
  }

 .programs-list--img3 {
    border-radius: 39% 57% 68% 33% / 59% 47% 42% 31%;
  }

 .programs-list--img4 {
    border-radius: 63% 35% 27% 70% / 50% 36% 37% 63%;
  }

  .programs-list--title {
    font-size: var(--letterSizeBig);
    width: 85%;

    margin-top: 200px;
  }

  .programs-list--item-pair .programs-list--title {
    transform: scaleX(-1);
    text-align: right;
  }

  .programs-list--paragraph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin-top: 50px;
    height: 300px;
  }

  .programs-list--item-pair .programs-list--paragraph-container {
    transform: scaleX(-1);
  }

  .programs-list--paragraph {
    margin-top: 0;
  }

  .programs-list--paragraph-container ul {
    padding-left: 20px;
  }

  .programs-list--paragraph-container ul li {
    margin-bottom: 10px;
  }

  @media (min-width: 501px) {
    .programs-list--item {
      height: 650px;
    }

    .programs-list--picture {
      left: 50%;
      width: 45vw;
      height: 45vw;
      max-height: 320px;
      max-width: 320px;
    }
  }

  @media (min-width: 1000px) {
    .programs-list--item {
      height: 500px;
      max-width: 1200px;
    }

    .programs-list--article {
      flex-direction: column;
      align-items: flex-start;
    }

    .programs-list--icon {
      top: calc(100% - 100px);
      left: calc(100% - 100px);
    }

    .programs-list--picture {
      top: -10px;
      left: calc(100% - 335px);

      max-height: 360px;
      max-width: 360px;
    }

    .programs-list--title {
      font-size: var(--letterSizeTitle);
      width: 60%;

      margin-bottom: 0;
      margin-top: 75px;
      margin-left: 50px;
    }

    .programs-list--item-pair .programs-list--title {
      text-align: left;
    }

    .programs-list--paragraph-container {
      flex-direction: column;
      justify-content: center;
      width: 50%;
      margin-top: 0px;
      margin-left: 50px;
      height: 350px;
    }
  }

  @media (min-width: 1200px) {
    .programs-list--picture {
      top: -60px;
      left: calc(100% - 390px);
      max-height: 430px;
      max-width: 430px;
    }
  }