---
import "../styles/Normalize.css";
import Menu from "../components/Menu.tsx";
import "../styles/footer.css";

import { MenuSelect } from "../enums.ts";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  menuSelect: MenuSelect;
}

const { title, menuSelect } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=yes"
    />

    <meta name="generator" content={Astro.generator} />
    <!-- description -->

    <meta
      name="description"
      content="We work for the benefit of the inhabitants of the State of Connecticut applying social intervention models that seek the transformation of the people."
    />

    <!-- keywords -->

    <meta
      name="keywords"
      lang="en"
      content="services, social, community, folklore, education, welfare, entrepreneurship, culture, cultural, diversity, history, benefits, finances, computing, programs, events, communities, Latinos, volunteers, assistance, connecticut, Dominican, America, alliance, strategies"
    />
    <meta
      name="keywords"
      lang="es"
      content="servicios, sociales, comunidad, folclor, educacion, bienestar, social, emprendimiento, cultura, cultural, diversidad, historia, beneficios, finanzas, computacion, programas, eventos, comunidades, latinos, voluntarios, asistencia, connecticut, dominicana, america, alianza, estrategias"
    />

    <!-- copy and author -->

    <meta name="copyright" content="https://www.dacct.org" />

    <meta name="author" content="illiantech" />

    <meta name="robots" content="index, follow" />

    <!-- la cache del navegador se borrara cada dia (valor: segundos) -->
    <meta http-equiv="expires" content="86400" />

    <!-- audience -->

    <meta name="audience" content="all" />

    <!-- itemprop -->

    <meta
      itemprop="name"
      content="The Dominican American Coalition of Connecticut"
    />

    <meta
      itemprop="address"
      content="853 Fairfield Ave 2nd Bridgeport CT 06605"
    />

    <meta itemprop="telephone" content="+1 203-913-5370" />

    <meta itemprop="image" content="/icons/dominican.svg" />

    <!-- Open graph Facebook -->

    <meta
      property="og:title"
      content="The Dominican American Coalition of Connecticut"
    />

    <meta property="og:type" content="website" />

    <meta property="og:url" content="https://www.dacct.org" />

    <meta property="og:image" content="/icons/dominican.svg" />

    <meta
      property="og:description"
      content="We work for the benefit of the inhabitants of the State of Connecticut applying so cial intervention models that seek the transformation of the people."
    />
    <!-- Open graph twitter -->

    <meta name="twitter:card" content="summary" />

    <meta
      name="twitter:title"
      content="The Dominican American Coalition of Connecticut"
    />

    <meta
      name="twitter:description"
      content="We work for the benefit of the inhabitants of the State of Connecticut applying so cial intervention models that seek the transformation of the people."
    />

    <meta name="twitter:image" content="/icons/dominican.svg" />

    <!-- Metas google -->

    <meta name="googlebot" content="notranslate" />

    <!-- iconos adaptables -->

    <link rel="icon" type="image/svg+xml" href="/icons/dominican.svg" />

    <ViewTransitions />

    <title>{title}</title>
  </head>
  <body>
    <header class="header">
      <!-- Menu -->
      <Menu client:load menuSelect={menuSelect} />
    </header>
    <main role="main" id="main">
      <!-- Slider automatico -->

      <slot />
    </main>
    <footer class="footer">
      <div class="container-contact">
        <address class="contact">
          <!-- LOGO FOOTER -->
          <!-- sobre si mismo -->
          <a title="Logo" href="/" class="logo logo__footer">
            <picture>
              <!-- adaptar imagenes -->

              <img
                loading="lazy"
                decoding="async"
                data-section="footer"
                data-content="alt-logo"
                class="logo--img"
                src="/img/webp/logo/logo_name.webp"
                alt="Logo de banderas de republica dominicana y estados unidos donde se trabaja en una contribucion social en Connecticut"
              />
            </picture>
          </a>
          <!-- Flata links de redes sociales en plantillas -->
          <ul class="contact--list">
            <li class="contact--item">
              <a
                target="_blank"
                title="Facebook"
                href="https://www.facebook.com/dacctinfo/?ref=page_internal"
                ><img
                  loading="lazy"
                  decoding="async"
                  src="/icons/facebook.svg"
                  alt="Facebook"
                /></a
              >
            </li>
            <li class="contact--item">
              <a target="_blank" title="Telegram" href="/"
                ><img
                  loading="lazy"
                  decoding="async"
                  src="/icons/telegram.svg"
                  alt="Telegram"
                /></a
              >
            </li>
            <li class="contact--item">
              <a
                target="_blank"
                title="Instagram"
                href="https://www.instagram.com/dominicanamericancoalitionofct/"
                ><img
                  loading="lazy"
                  decoding="async"
                  src="/icons/instagram.svg"
                  alt="Instagram"
                /></a
              >
            </li>
          </ul>
          <div class="container-autor">
            <a
              title="Ir a linkedin"
              href="https://www.linkedin.com/in/daniel-pimentel-78aaa7253/"
              class="autor">ILLIANTECH &ensp; 2022 - 2024</a
            >
          </div>
          <p
            data-section="footer"
            data-content="paragraph"
            class="footer--info"
          >
            The Dominican-American Coalition is a non profit organization with
            the code 501 C 3.
          </p>
        </address>
      </div>
    </footer>
  </body>
</html>

<style is:global>
  /* Principal */

  * {
    box-sizing: border-box;

    /* in firefox */
  }

  /* scroll */
  /* in webkit/blink (chromium) */

  *::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  *::-webkit-scrollbar:vertical {
    width: 0.8em;
  }

  *::-webkit-scrollbar-button:increment {
    display: none;
  }

  *::-webkit-scrollbar:horizontal {
    height: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--colorSecundario);
    border-radius: 20px;
    border: 2px solid var(--white);
  }

  *::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  @font-face {
    font-family: "Outfit";
    src: url("/outfit_font/Outfit-VariableFont_wght.woff2");
  }

  :root {
    --black: hsl(0, 0%, 5%);
    --white: hsl(0, 0%, 95%);
    --colorPrimario: hsl(224, 70%, 40%);
    --colorPrimario2: hsl(223, 49%, 23%);
    --colorSecundario: hsl(357, 71%, 44%);

    --shadowGeneral: 0 0 5px -3px var(--black);
    --letterSizeSmall: 1rem;
    --letterSizeMedium: 1.4rem;
    --letterSizeBig: 1.8rem;
    --letterSizeTitle: 2.5rem;
    --letterSizeGiant: 6rem;
    background-color: var(--white);
    color: var(--black);
    font-family: "Outfit", sans-serif;
  }

  ::view-transition-new(titleBanner) {
    animation: titleMotion 0.6s ease;
  }

  @keyframes titleMotion {
    from {
      opacity: 0;
      transform: translateY(600%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    :root {
      view-transition-name: none !important;
      view-transition: none !important;
    }

    ::view-transition,
    ::view-transition-new(titleBanner) {
      animation: none !important;
    }

    button,
    img,
    li,
    div,
    p,
    h1,
    h2,
    h3,
    h4 {
      transition: none !important;
      animation: none !important;
    }
  }

  .nav::-webkit-scrollbar:vertical,
  .alliance--list__mobile::-webkit-scrollbar:vertical,
  .blog--article::-webkit-scrollbar:vertical,
  .form-block--group-inputs textarea::-webkit-scrollbar:vertical {
    width: 0.5rem;
  }

  hr {
    border: none;
    margin: 0;
  }
</style>
